---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: logging
data:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      paths:
        - /var/log/containers/*.log
      processors:
        - add_kubernetes_metadata:
            host: ${NODE_NAME}
            matchers:
            - logs_path:
                logs_path: "/var/log/containers/"
        - drop_event:
            when:
              or:
                - contains:
                    kubernetes.namespace: "kube-system"
                - contains:
                    kubernetes.namespace: "kube-public"
    
    output.elasticsearch:
      hosts: ['${ELASTICSEARCH_HOST:elasticsearch-master:9200}']
      indices:
        - index: "filebeat-patient-api-%{+yyyy.MM.dd}"
          when.contains:
            kubernetes.labels.app: patient-api
        - index: "filebeat-appointment-api-%{+yyyy.MM.dd}"
          when.contains:
            kubernetes.labels.app: appointment-api
        - index: "filebeat-frontend-%{+yyyy.MM.dd}"
          when.contains:
            kubernetes.labels.app: hospital-frontend
    
    setup.kibana:
      host: '${KIBANA_HOST:kibana-kibana:5601}'
