image:
  repository: gcr.io/charged-thought-485008-q7/patient-api
  tag: v3
  pullPolicy: IfNotPresent

service:
  port: 3000
  type: ClusterIP

env:
  - name: DB_SERVER
    value: hospital-ui-hpm-sqlserver

sqlserver:
  enabled: false

replicaCount: 1

ingress:
  enabled: false
  hosts:
    - host: hospital.local
      paths:
        - path: /patient
          pathType: Prefix

serviceAccount:
  create: true
  name: "hospital-patient-sa"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 80

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /health
    port: 3000
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health
    port: 3000
  initialDelaySeconds: 10
  periodSeconds: 5

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "3000"
  prometheus.io/path: "/metrics"

metrics:
  enabled: false
  path: /metrics
